h1 {
	font-size: 40px;
	margin-right: 200px;
}



 header {
	 background-color: #B7E0F1;
	 display: flex;
 }

ul li {
	font-size: 20px;
	padding-left: 40px;
	margin-bottom: 5px;
	list-style-type: none;
	padding-bottom: 5px;
}

img {
	width: 250px;
	height: 250px;
	margin-right: 10px;
	margin-bottom: 17px;
	margin-top: 17px;
}



body {
	font-family:Arial;
	width: 80%;
	margin: auto;
	display: grid;
	grid-gap: 0px;
	text-align: justify;
	font-size: 20px;
}

div p {
	line-height: 1.5;
}

h2 {
	color: #8CCBE5;
	font-size: 30px;
}

div h2 {
	display: flex;
}


table td {  
	margin-right: 30px;
	padding: 10px;
}

table td li{
	list-style-type: decimal;
}

.idiomas  {
	line-height: 2.5;
	text-align: left;
}
.idiomas li {
	list-style-type: square;
	
}
.contact {
	line-height: 3.5;
}
footer{
	text-align: center;
	padding-bottom: 30px; 
}
